<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Review</title>
</head>
<body>
    <a href="/">Home</a> <br>
    <table>
        <thead>
            <tr>
                <td>Title</td>
                <td>Action</td>
            </tr>
        </thead>
        <tbody>
            <% for (let i=0; i<data.length; i++) { %>
                <tr>
                    <td><%= data[i].book_name %></td>
                    <td><a href="/addReview/<%= data[i].id %>">Add Review</a></td>
                </tr>
            <% } %>
        </tbody>
    </table>
</body>
</html>