<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>list Books</title>
</head>
<body>
    <% for (let i=0; i<data.length; i++) { %>
        <h3 style="text-align: center;"><%= data[i].book_name  %></h3>
        <img src="<%= data[i].cover_image %>" alt="" style="margin: auto; display: block;" width="200" height="300" >
        <p style="text-align: center;">genre: <%= data[i].genre %></p>
        <p style="text-align: center;">Sinopsis: <%= data[i].description %></p>
    <% } %>
</body>
</html>